body {
  background-color: #050505;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

h2, h3 {
  font-family: 'Orbitron', sans-serif;
}

.titulo {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
}

#carouselRobo {
  max-width: 800px; /* largura máxima */
  margin: auto;     /* centraliza */
}

#carouselRobo img {
  height: 400px;       /* altura fixa */
  object-fit: contain; /* mantém proporção */
}

/* Hover nos links do menu */
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ff0000 !important; /* vermelho */
}

/* Accordion (Sistema de Armas) */
.accordion-button {
  background-color: #111;
  color: #fff;
  font-weight: bold;
}


/* Botão do accordion fechado */
.accordion-button.collapsed {
  background-color: #ff0000; /* vermelho escuro */
  color: #fff;
}

/* Botão aberto */
.accordion-button:not(.collapsed) {
  background-color: #ff0000; /* vermelho forte */
  color: #fff;
}

/* Corpo do accordion */
.accordion-body {
  background-color: #222;
  color: #ddd;
}


.accordion-body {
  background-color: rgb(228, 228, 228);
  color: #111;
}

/* Título T-8000 maior */
.titulo {
  font-size: 48px; /* antes estava 32px */
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}



.card {
  background-color: #111;
  color: #fff
  border: 1px solid #888;
}

.card img {
  height: 200px;
  object-fit: contain;
}

footer {
  font-size: 14px;
}
